<div class="blog ml-2 mt-2">
  <div class="link">
    <h1 routerLink="/">Quotes central</h1>
  </div>
  <li class="link" routerLinkActive="active">
    <a routerLink="/">Quotes</a>
  </li>
  <li class="link" routerLinkActive="active">
    <div style="border-left: 1px solid #ff0000; padding: 0 10px" class="verticalLine"><a routerLink="/add-quote">Submit new quote</a></div>
  </li>
</div>
<hr>
