<div class="row mt-2 ml-2">
  <div class="col-4">
    <h2 class="mb-4">Submit new quote</h2>

    <form (ngSubmit)="addQuote()">
      <div class="form-group">
        <label for="category">Select category</label>
        <select
          name="category"
          id="category"
          class="form-control"
          [(ngModel)]="category"
        >
          <option value="star-wars">Star Wars</option>
          <option value="humour">Humour</option>
          <option value="football">Football</option>
          <option value="famous-people">Famous people</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input
          type="text"
          name="author"
          id="author"
          class="form-control"
          [(ngModel)]="author"
        />
      </div>
      <div class="form-group">
        <label for="text">Quote text</label>
        <textarea
          name="text"
          id="text"
          class="form-control"
          [(ngModel)]="text"
        ></textarea>
      </div>
      <button
        type="submit"
        class="btn btn-success"
      >Save
      </button>
    </form>
  </div>
</div>
