<div class="row mt-2">
  <div class="col">
    <div class="list-group">
      <a routerLink="/all">All</a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
    </div>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
