<h5 class="card-title">{{ getCategory(quote.category) }}</h5>
<div class="card mb-2 col-8">
  <div class="row no-gutters">
    <div class="col-sm-8">
      <div class="card-body">
        <p><b>{{ quote.author }}</b></p>
        <p class="card-text small">« <i>{{ quote.text }}</i> »</p>
      </div>
    </div>
  </div>
</div>
